body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  overflow-x: hidden;
}

/* VIDEO BACKGROUND */
.trailer-bg video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: brightness(0.4);
}

/* DARK OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.4), black);
  z-index: -1;
}

/* HERO */
.hero {
  text-align: center;
  padding-top: 160px;
}

/* NETFLIX STYLE TITLE */
.netflix-title {
  font-size: 80px;
  letter-spacing: 5px;
  color: red;
  text-shadow: 0 0 20px black;
  animation: flicker 1.5s infinite;
}

@keyframes flicker {
  0% {opacity: 1;}
  50% {opacity: 0.4;}
  100% {opacity: 1;}
}

.tagline {
  color: #ddd;
  font-size: 18px;
  margin-top: 10px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 25px;
  background: red;
  color: white;
  text-decoration: none;
  margin: 5px;
  border-radius: 6px;
}

.btn.ghost {
  background: transparent;
  border: 1px solid red;
}
.page {
  text-align: center;
  padding: 60px;
}

.small {
  font-size: 40px;
}

.card {
  background: rgba(255,0,0,0.1);
  border: 1px solid red;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
}

.timeline div {
  margin: 10px;
  font-size: 18px;
  color: #ddd;
}
